
tbody tr:nth-child(odd) { background-color: #F2F2F2 !important}
tbody tr:nth-child(even) { background-color: /*#dedede*/#fff !important}
@media print{
    @page{
        margin-top: 1cm;
        margin-left: 0cm;
        margin-right: 0cm;
        margin-bottom:  1cm;
        background-color: transparent;
        line-height: 1.5em;
    }
    *{
        font: 10px Arial,Helvetica Neue,Helvetica,sans-serif; 
    }
    h1{font-size: 20px}
    h3{font-size: 18px}
    table:not(.first){page-break-before: always}
    .page-header{margin-top: 0px}
    h3, h1{margin-top: 0px; margin-bottom: 0px; text-align: center}
    tbody tr:nth-child(odd) { background-color: #F2F2F2 !important}
    tbody tr:nth-child(even) { background-color: /*#dedede*/#fff !important}
    th{font-size: 8pt; font-weight: bold;}
    thead {display: table-header-group; }
    thead tr{border-top: 1px solid #000; border-bottom: 1px solid #000; }
    table{border-left: none; border-right: none; border-top: none; border-bottom: 1px solid #000}
    td.descricao{ width: 55%; padding: 2px; text-align: left; text-indent: 10px; font-size: 10px;}
    td{border-left: none; border-right: none; text-transform: capitalize;}
    td:not(.descricao){ font-size: 8px}
    tfoot {display: table-footer-group;   }
    .page-header{margin: 0px; border-bottom: none;}
}
td.descricao{text-align: left}