tabela{ border: none}
@media print{
    * {font-family: Arial, Helvetica, sans-serif; border: none; outline: none}
    body{margin:0px}
    sidebar{display: none;}
    content{width: 100%; float: none; margin: 0px; background-color: #dedede}
    h1 { font-size: 14px; text-align: center;}
    h3, h4 { font-size: 12px; border-bottom: 1px solid #000; margin-left: -35px; text-transform: capitalize}
    tabela{width: 100%; margin-left: -35px; border: none; max-width: 5000px;}
    table{border: none; width: 100%; padding: 0px; margin: 0px}
    td{border-left: none}
    tr td, th{font-size: 10px}  
    th{font-weight: bold}
    .button{display: none}
    @page{
        margin-top: 0cm;
        margin-left: 1cm;
        margin-right: 1cm;
        margin-bottom:  1cm;
        background-color: transparent;
        line-height: 1.5em
    }
    [name=header]{margin-top: -20px; width: 100%; margin-left: -20px}
    [name=header] h1{border: none; display: inline-block; margin-right: 5px; margin-left: 5px; text-transform: uppercase}
    .icon, .alert, .nav, .pagination, button, #search, [name=pesquisa]{display: none}
}

