body{
    background-color: #fcfcfc;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav.top-nav a.page-title {
    line-height: 70px;
    font-size: 48px;
}

main {
    flex: 1 0 auto;
}

.header{
    font-family:  'Roboto-Light';
}

/*.dropdown-content {
    background-color: #fafafa;
    margin: 0;
    display: none;
    min-width: 200px;  Changed this to accomodate content width 
    max-height: auto;
    overflow: hidden;  Changed this from overflow-y:auto; to overflow:hidden; 
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}*/

.icons {
    font-size: 14px;
}
.bodyInativo{display: none}

.icon a { width: 30px; height: 30px; cursor: pointer; display: block; margin: 0 auto; background: center no-repeat; transition: all linear 0.1s; -webkit-transition: all linear 0.1s }
.edit a { background-image: url(../images/icons/page_edit.png) }
.edit a:hover { background-image: url(../images/icons/page_edit_hover.png) }
.more a { background-image: url(../images/icons/more.png) }
.more a:hover { background-image: url(../images/icons/more_hover.png) }
.foto a { background-image: url(../images/icons/icone_foto.png) }
.foto a:hover { background-image: url(../images/icons/icone_foto_hover.png) }
.del a { background-image: url(../images/icons/delete.png) }
.del a:hover { background-image: url(../images/icons/delete_hover.png) }
.new a { background-image: url(../images/icons/new.png) }
.new a:hover { background-image: url(../images/icons/new_hover.png) }
.confirm a { background-image: url(../images/icons/confirm.png) }
.confirm a:hover { background-image: url(../images/icons/confirm_hover.png) }
#carregando{
    position: fixed;
    z-index: 500;
    background: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    display: none
}
.loading{ width: 150px; height: 20px; border-radius: 10px; border: 1px solid #555; background:url(../images/loading.gif) no-repeat; overflow: none; margin: 20% auto}