body{
    background-color: #fcfcfc;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav.top-nav a.page-title {
    line-height: 70px;
    font-size: 48px;
}

main {
    flex: 1 0 auto;
}

.header{
    font-family:  'Roboto-Light';
}

/*.dropdown-content {
    background-color: #fafafa;
    margin: 0;
    display: none;
    min-width: 200px;  Changed this to accomodate content width 
    max-height: auto;
    overflow: hidden;  Changed this from overflow-y:auto; to overflow:hidden; 
    opacity: 0;
    position: absolute;
    white-space: nowrap;
    z-index: 1;
    will-change: width, height;
}*/

.icons {
    font-size: 14px;
}